@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<style>
    #404 {
        background-image: url(./../../Content/Images/404.jpg);
    }
</style>
<h1 class="text-danger">404 Not Found.</h1>
<h2 class="text-danger">As the styles of this page</h2>
<div id="404"></div>
<a class="btn btn-success" href="@Url.Action("Index", "Home", new { area = "Public"})">Go Home</a>

