@{
    ViewBag.Title = "Home Page";

}


@Styles.Render("~/Content/theme")
@Styles.Render("~/Content/home")
<!-- loader -->
<div id="site-loader">
    <div class="loader"></div>
</div>
<!-- loader -->
<!-- site wrap -->
<h1 class="jumbo-title">Heading, some croud marketing bla and more and more it should be at least two rows</h1>

@*ways to input products*@
@Html.Partial("_SearchOptions")
@*/ways to input products*@

<!-- /site wrap -->
@Scripts.Render("~/bundles/theme")