@using Econom.Web.Areas.Public.ViewModels.Products
@model ProductBaseViewModel

<div>
    <div style="border:10px solid red">
        <h1>@Model.Description</h1>
        
        @(Html.Image(Url.Action("GetImage", "Images", new {url = Model.ImageUrl }),
               Model.Description,
               new { @class = "img-found-product" }))
    </div>
</div>