@using Econom.Web.Areas.Private.ViewModels
@model List<RecipeSearchResultViewModel>
@{
    var notificationSent = "Recipe successfuly sent.";
}

<div id="notification-suggestion-sent" style="display:none">
    @Html.DisplayFor(model => notificationSent, "NotificationSuccess")
</div>

@foreach (var recipeModel in Model)
{
    @Html.DisplayFor(model => recipeModel)
}

@Scripts.Render("~/bundles/recipes-found")

