@using Econom.Web.Areas.Private.ViewModels
@model  RecipeSearchResultViewModel
<div class="col-md-3">
  <h3 class="title kendo-style-bg">@Model.Title</h3>
    <div>@Html.DisplayFor(model => model.SocialRank, "RecipeSocialRank")</div>
    <div>@Html.DisplayFor(model => model.ImageUrl, "RecipeImage")</div>
    <div>@Html.DisplayFor(model => model.Ingredients, "RecipeIngredients")</div>
</div>
