@using Kendo.Mvc.UI;
@using Econom.Web.Areas.Private.ViewModels;
@model ICollection<FlatmateViewModel>

@section kendo{
    @Styles.Render("~/Content/kendo-css")
    @Scripts.Render("~/Contetn/kendo")
}
<h1 class="title orange-opacity">Flatmates</h1>
@Html.Partial("_FlatmatesGridView", Model)
