@using Kendo.Mvc.UI;
@model Econom.Web.Areas.Private.InputModels.HomeStorageInputModel
@{
    ViewBag.Title = "Create";
    bool isCreated = (bool)(ViewBag.Created ?? false);
}
@Styles.Render("~/Content/Kendo-css")
@Scripts.Render("~/bundles/kendo")
<h2>Create</h2>

<div>


    @{Html.Kendo().PanelBar()
                    .Name("panelbar")
                    .ExpandMode(PanelBarExpandMode.Single)
                    .Items(panelbar =>
                    {
                // Personal Info
                panelbar.Add()
                        .Text("Location")
                        .Expanded(!isCreated)
                        .Content(@<div>@Html.EditorFor(model => model)</div>);

                    panelbar.Add()
                        .Text("Add your flatmates")
                        .Expanded(isCreated)
                        .Content(
                        @<div>
                            @Html.Action("Get", "Flatmates", new { emails = Model.FlatmatesEmails })
                            Grid here
                        </div>);
                    })
         .Render();}

    // Second



</div>
