
@{
    ViewBag.Title = "Index";
}

<h2 class="title kendo-style-bg">Welcome Home</h2>
<h3 class="title orange-opacity">
    <i>
        Here you can organize the products in your storage - change quantity or delete manual products. By default if all flatmates approve given suggestion for recipe, the related products will be copied to Kitchen tab. You will be able to delete product from Kitchen tab also. Have fun and do not forget to wartch your Eco Index.
    </i>
</h3>
<div id="notificationRecipe" style="display:none">
    <a><span class="fa fa-close"></span></a>
    <h1 id="notification-title"></h1>
    <span class="fa fa-star orange-opacity"><span id="notification-rank"></span></span>
    <div id="notification-img">

    </div>
    <span id="notification-notes"></span>
    <span>Already approved by: <span id="notification-approved" class="orange-opacity"></span></span>
</div>
@Html.Action("Index", "StorageProductsGrid")

@section scripts{
    <script>
        $(document).ready(function () {
            var $btnClose = $('body').find('.fa-close');
            if($btnClose){
                $btnClose.click(function () {
                    $('#notificationRecipe').hide();
                });
            }          
        });
    </script>
    }
