@using Econom.Web.Areas.Public.ViewModels.Products
@model List<ProductBaseViewModel>
@{
    ViewBag.Title = "Found";
}

<h2>Found</h2>
@foreach (var item in Model)
{
    @Html.DisplayFor(model => item);
}