@using Econom.Web.Areas.Public.ViewModels.Products
@model List<ProductBaseViewModel>
@{
    ViewBag.Title = "Found";
}
@Styles.Render("~/Content/kendo-css")
@Styles.Render("~/Content/found")


<h2>Found</h2>

<ul id="found-products-list" class="nav navbar">
  @foreach (var item in Model)
  {
    <li>
        @Html.DisplayFor(model => item)
    </li>

  }
</ul>
